SECRET_KEY = 'sCtjC1t8XoMrzyDUxkUPcZsTJzP7g55z'
ALGORITHM = 'HS256'
TITLE = 'Eisaku FastAPI'
VERSION = '1.0.0'
ACCESS_TOKEN_EXPIRE = '1440'
TOKEN_ENDPOINT = '/api/v1/accounts/login'
 
DB_USER = "root"
DB_PASSWORD = ""
DB_HOST = "localhost"
DB_PORT = 3306
DB_NAME = "eisaku_db"
 
 
# DB_USER = "eisaku_tms"
# DB_PASSWORD = "Password000"
# DB_HOST = "157.173.219.215"
# DB_PORT = 3306
# DB_NAME = "eisaku_tms_db_dev"
 
 
SU_FIRST_NAME = ''
SU_LAST_NAME = ''
SU_USERNAME = ''
SU_EMAIL = ''
SU_MOBILE = ''
SU_PASSWORD = ''
 
 
RATE_DIFF="5"
 
# EMAIL_HOST = 'smtp.gmail.com'
EMAIL_SERVICE = ''
# EMAIL_SERVICE = 'gmail'
EMAIL_PORT = 
EMAIL_ID = ''
EMAIL_PASSWORD = ''
EMAIL_FROM_NAME = 'Eisaku TMS'
SUPPORT_EMAIL = ""